

button:hover {
    background-color: #A9A9A9;
}

.selection_bubble {
  top: 0;
  left: 0;
  visibility: hidden;
  position: fixed;
  align-items: center;
  display: flex;
  justify-content: space-between;
} 

button {
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */
	width: 20px;
	height: 20px;
	border-radius: 25px; 
	margin: 3px;
	border-style: none;
}

#container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.green {
    background-color: rgba(1,124,50, 0.7);
}

.red {
    background-color: rgba(235,15,3, 0.7); 
}

.yellow {
    background-color: rgba(255,234,38, 0.7);
}
